.black {color: #000000}
.lightblack {color: #0A0A0C}
.purple{color: #520050}
.gray {color: #958283}
.red {color: #CD1818;} 

li {
  color:#CD1818;
  font-size: 20px;
  font-family: Oswald;
  font-weight: 400;

}
ol {
  color:#CD1818;
  font-family: Oswald;
  margin-right: 35px;
  font-size: 30px;
  font-weight: 500;
}
dl {
  color: #958283;
  font-family: Amethysta;
}
.mainbox {
    margin-top: 50px;
}
