.black {
    color: #000000
}

.lightblack {
    color: #0A0A0C
}

.purple {
    color: #520050
}

.gray {
    color: #958283
}

.red {
    color: #CD1818;
}

.contact-img {
    width: 40px;
}

.mainbox {
    margin-top: 50px;
}