/*Colours i use for my site */
.black {
    color: #000000
}

.lightblack {
    color: #0A0A0C
}

.purple {
    color: #520050
}

.gray {
    color: #958283
}

.red {
    color: #CD1818;
}

/*specific width for the icons for the contacts */
.contact-img {
    width: 40px;
}

/*Specific extra css for mainbox's */
.mainbox {
  margin-top: 50px;
}

@media screen and (min-width: 600px) {
img {width: 160px}
.contact-img {width: 80px; }

}