/*Colours i use for my site */
.black {
    color: #000000
}

.lightblack {
    color: #0A0A0C
}

.purple {
    color: #520050
}

.gray {
    color: #958283
}

.red {
    color: #CD1818;
}

/*specific width for the icons for the contacts */
.contact-img {
    width: 40px;
}

/*Seprate css for the main boxes */
.mainbox {
    margin-top: 50px;
}