/*Colours i use for my website */
.black {
    color: #000000
}

.lightblack {
    color: #101010
}

.purple {
    color: #520050
}

.gray {
    color: #958283
}

.red {
    color: #CD1818;
}

/*Css for the body background and making sure the page has no padding and margin art the start of making the page*/
body {
    padding: 0px;
    margin: 0px;
    height: 100px;
    background-color: #101010;
}

/*Footer Css making sure it looks right */
footer {
    background-color: #000000;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/*Css for the body seprate from the footer and header */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Css for title inside mainbox's */
h2 {
    display: flex;
    color: #CD1818;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
}

/*Css for the paragraphs inside the mainbox's */
p {
    font-family: Amethysta;
    color: #958283;
}

/*Css for the header where navigation is */
header {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
}

/*Specific css for the nav inside footer and nav */
nav {
    height: 70px;
    display: flex;
    width: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*Specific css for the links */
.nav-Link {
    text-decoration: none;
    color: #CD1818;
    font-size: 25px;
    height: 50px;
    width: 100px;
    font-family: Oswald;
}

/*CSS for the mainbos i reguragly use. VERY IMPORTANT*/
.mainbox {
    height: auto;
    width: 300px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 4px 10px #520050;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/*CSS for the title text's*/
.title-text {
    font-size: 40px;
    font-weight: 600;
    font-family: Oswald;
    display: flex;
    align-self: flex-start;
    color: #CD1818;
}

@media screen and (min-width: 600px) {
    .title-text {
        font-size: 55px;
    }

    h2 {
        font-size: 45px;
    }

    p {
        font-size: 25px;
    }

}

ul {
    list-style-type: none;
}

ul li {
    display: inline-flex;
    color: #CD1818;
}

.header-desktop {
    display: none;
}

.header-mobile {
    background-color: rgb(40, 156, 160);
    padding: 12px;

}

#nav-mobile {
    display: none;
}

.flex {
    display: flex;
}


@media only screen and (min-width: 600px) {
    .header-desktop {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: auto;
    }

    .header-mobile {
        display: none;
    }
}