.black {
    color: #000000
}

.lightblack {
    color: #101010
}

.purple {
    color: #520050
}

.gray {
    color: #958283
}

.red {
    color: #CD1818;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100px;
    background-color: #101010;
}


footer {
    background-color: #000000;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    color: #CD1818;
    font-family: Oswald;
    font-size: 30px;
    font-weight: 400;
}

p {
    font-family: Amethysta;
    color: #958283;
}

header {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
}

nav {
    height: 70px;
    display: flex;
    width: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-Link {
    text-decoration: none;
    color: #CD1818;
    font-size: 25px;
    height: 50px;
    width: 100px;
    font-family: Oswald;
}

.mainbox {
    height: auto;
    width: 300px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 4px 10px #520050;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.title-text {
    font-size: 40px;
    font-weight: 600;
    font-family: Oswald;
    display: flex;
    align-self: flex-start;
    color: #CD1818;
}
