/*Colours i use for my website*/
.black { 
  color: #000000
}

.lightblack {
  color: #0A0A0C
}

.purple {
  color: #520050
}

.gray {
  color: #958283
}

.red {
  color: #CD1818;
}

/*Box for the title*/
.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Specific css for the title*/
h2 {
  margin-top: -2px;
  font-size: 30px;
  font-family: Oswald;
  align-self: flex-start;

}
/*Specifci css for the paragrhaps*/
p {
  margin-top: -10px;
}
/*Extra bit of css doe the mainbox*/
.mainbox {
  margin-top: 50px;
}
/*Changes for the desktop versionF*/
@media screen and (min-width: 600px) {
  .mainbox {
    margin-left: -400px;
  }

  .secondbox {
    margin-left: 500px;
  }
}